{% extends 'layout.html' %}

{% block body %}

<select name="hotels">
	{% for hotel in hotels %}
	<option value="{{hotel.name}}">{{ hotel.name }}</option>
	{% endfor %}
</select>

<select name="restaurants">
	{% for restaurant in restaurants %}
	<option value="{{restaurant.name}}">{{ restaurant.name }}</option>
	{% endfor %}
</select>

<select name="activities">
	{% for activity in activities %}
	<option value="{{activity.name}}">{{ activity.name }}</option>
	{% endfor %}
</select>

<div id="map-canvas"></div>

{% endblock %}